<nav class="navbar navbar-expand-lg dashboard-background border-bottom py-5">
  <div class="container-fluid">
    <div class="navbar-brand d-flex align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
        <path d="M17.0743 0V6.64465C21.3711 7.32038 24.7634 11.0369 24.7634 15.5417C24.7634 20.4971 20.6927 24.5514 15.7174 24.5514C10.9682 24.5514 7.1237 20.9475 6.67141 16.3301H0C0.452299 24.6641 7.23678 31.3087 15.7174 31.3087C24.4241 31.3087 31.4348 24.3262 31.4348 15.6544C31.4348 7.433 25.1026 0.788349 17.0743 0Z" fill="#007DFA"/>
        <path d="M15.2651 0H0V6.53203H15.2651V0Z" fill="#007DFA"/>
        <path d="M11.7598 8.22144H0V14.8661H11.7598V8.22144Z" fill="#007DFA"/>
      </svg>
      <span class="fw-bolder">&nbsp;Manage</span>
      <span class='fw-light'>Bug</span>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link active" aria-current="page" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none" class="me-2">
              <path d="M16.4788 11.9499C16.5346 12.0456 16.5711 12.1513 16.586 12.2611C16.601 12.3709 16.5942 12.4826 16.566 12.5897C16.5378 12.6969 16.4887 12.7974 16.4217 12.8856C16.3546 12.9738 16.2708 13.048 16.1751 13.1038L9.42514 17.0413C9.2961 17.1166 9.14939 17.1562 9 17.1562C8.85061 17.1562 8.7039 17.1166 8.57486 17.0413L1.82486 13.1038C1.63172 12.991 1.49128 12.8061 1.43442 12.5897C1.37756 12.3734 1.40894 12.1433 1.52165 11.9501C1.63435 11.7569 1.81917 11.6164 2.03547 11.5594C2.25177 11.5024 2.48185 11.5336 2.67514 11.6462L9 15.3357L15.3249 11.6462C15.5182 11.5335 15.7483 11.5021 15.9647 11.5591C16.1811 11.616 16.366 11.7566 16.4788 11.9499ZM15.3249 8.27119L9 11.9607L2.67514 8.27119C2.48185 8.15861 2.25177 8.12737 2.03547 8.18437C1.81917 8.24136 1.63435 8.38191 1.52165 8.57512C1.40894 8.76834 1.37756 8.9984 1.43442 9.21473C1.49128 9.43107 1.63172 9.61598 1.82486 9.7288L8.57486 13.6663C8.7039 13.7416 8.85061 13.7812 9 13.7812C9.14939 13.7812 9.2961 13.7416 9.42514 13.6663L16.1751 9.7288C16.2709 9.67301 16.3548 9.59889 16.4219 9.51068C16.489 9.42247 16.5381 9.3219 16.5663 9.21471C16.5946 9.10753 16.6014 8.99582 16.5865 8.88599C16.5715 8.77616 16.5351 8.67034 16.4793 8.5746C16.4234 8.47885 16.3492 8.39505 16.261 8.32798C16.1727 8.26091 16.0721 8.21188 15.9649 8.18371C15.8577 8.15553 15.746 8.14876 15.6362 8.16377C15.5264 8.17878 15.4206 8.21528 15.3249 8.27119ZM1.40625 5.625C1.40624 5.47753 1.44489 5.33263 1.51834 5.20476C1.59179 5.07688 1.69748 4.97049 1.82486 4.89619L8.57486 0.958695C8.7039 0.883417 8.85061 0.84375 9 0.84375C9.14939 0.84375 9.2961 0.883417 9.42514 0.958695L16.1751 4.89619C16.3025 4.9705 16.4082 5.07689 16.4816 5.20476C16.5551 5.33264 16.5938 5.47753 16.5938 5.625C16.5938 5.77247 16.5551 5.91736 16.4816 6.04524C16.4082 6.17311 16.3025 6.2795 16.1751 6.3538L9.42514 10.2913C9.2961 10.3666 9.14939 10.4062 9 10.4062C8.85061 10.4062 8.7039 10.3666 8.57486 10.2913L1.82486 6.3538C1.69748 6.27951 1.59179 6.17312 1.51834 6.04524C1.44489 5.91736 1.40624 5.77247 1.40625 5.625ZM3.92452 5.625L9 8.58568L14.0755 5.625L9 2.66432L3.92452 5.625Z" fill="#0C83FA"/>
            </svg>
            Projects
          </a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none" class="me-2">
              <path d="M9.27759 6.65991H13.2151" stroke="#787486" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M4.78491 6.65991L5.34741 7.22241L7.03491 5.53491" stroke="#787486" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M9.27759 11.9099H13.2151" stroke="#787486" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M4.78491 11.9099L5.34741 12.4724L7.03491 10.7849" stroke="#787486" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M6.75 16.5H11.25C15 16.5 16.5 15 16.5 11.25V6.75C16.5 3 15 1.5 11.25 1.5H6.75C3 1.5 1.5 3 1.5 6.75V11.25C1.5 15 3 16.5 6.75 16.5Z" stroke="#787486" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Tasks
          </a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="me-2">
              <path d="M14.9869 12.0888C15.0056 12.4007 15.3313 12.6111 15.596 12.445C17.2402 11.4134 18.3334 9.5844 18.3334 7.50008C18.3334 4.27842 15.7217 1.66675 12.5001 1.66675C10.4157 1.66675 8.58675 2.75992 7.55514 4.4042C7.38909 4.66887 7.59947 4.99451 7.91135 5.01326C11.6412 5.23749 14.7626 8.36216 14.9869 12.0888Z" fill="#787486"/>
              <path d="M13.3334 12.5001C13.3334 15.7217 10.7217 18.3334 7.50008 18.3334C4.27842 18.3334 1.66675 15.7217 1.66675 12.5001C1.66675 9.27842 4.27842 6.66675 7.50008 6.66675C10.7217 6.66675 13.3334 9.27842 13.3334 12.5001Z" fill="#787486"/>
            </svg>
            Manage
          </a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none" class="me-2">
              <path d="M6.86992 8.1525C6.79492 8.145 6.70492 8.145 6.62242 8.1525C4.83742 8.0925 3.41992 6.63 3.41992 4.83C3.41992 2.9925 4.90492 1.5 6.74992 1.5C8.58742 1.5 10.0799 2.9925 10.0799 4.83C10.0724 6.63 8.65492 8.0925 6.86992 8.1525Z" stroke="#787486" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12.3075 3C13.7625 3 14.9325 4.1775 14.9325 5.625C14.9325 7.0425 13.8075 8.1975 12.405 8.25C12.345 8.2425 12.2775 8.2425 12.21 8.25" stroke="#787486" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M3.12004 10.92C1.30504 12.135 1.30504 14.115 3.12004 15.3225C5.18254 16.7025 8.56504 16.7025 10.6275 15.3225C12.4425 14.1075 12.4425 12.1275 10.6275 10.92C8.57254 9.5475 5.19004 9.5475 3.12004 10.92Z" stroke="#787486" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13.7549 15C14.2949 14.8875 14.8049 14.67 15.2249 14.3475C16.3949 13.47 16.3949 12.0225 15.2249 11.145C14.8124 10.83 14.3099 10.62 13.7774 10.5" stroke="#787486" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Users
          </a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none" class="me-2">
          <circle cx="6" cy="4" r="4" fill="#F75388"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7107 10.5203C18.8864 11.3915 19.2907 12.2011 19.8827 12.867C20.2507 13.4143 20.464 14.0498 20.5 14.7071V14.9115C20.5055 15.7984 20.1877 16.6573 19.6053 17.3294C18.8673 18.1186 17.8658 18.6145 16.7872 18.725C13.6007 19.1339 10.3744 19.1339 7.18782 18.725C6.09657 18.6229 5.08102 18.1263 4.33394 17.3294C3.76985 16.6508 3.47405 15.7912 3.50193 14.9115V14.7071C3.53684 14.0523 3.74348 13.4179 4.10133 12.867C4.69597 12.2005 5.106 11.3918 5.2912 10.5203C5.31804 10.1825 5.31804 9.84246 5.31804 9.50245C5.31804 9.16243 5.31804 8.82242 5.34487 8.48463C5.68484 5.24008 8.81606 3 11.9473 3H12.0367C15.1322 3 18.326 5.24008 18.657 8.48463C18.6839 8.81798 18.6839 9.15799 18.6839 9.49911C18.6839 9.84023 18.6839 10.1825 18.7107 10.5203ZM13.164 20.0316C13.6613 20.0463 14.1496 20.1676 14.5954 20.3872H14.6222C14.9946 20.691 15.0579 21.2334 14.7654 21.6139C14.2326 22.3763 13.3802 22.857 12.4482 22.9206C11.4908 23.0348 10.5266 22.7697 9.76434 22.1828C9.37233 21.914 9.11758 21.4889 9.06653 21.0183C9.06653 20.5205 9.53174 20.2894 9.96116 20.1916C10.4641 20.0857 10.9768 20.0321 11.491 20.0316H13.164Z" fill="#868AA5"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none" class="me-4">
          <circle cx="3.99988" cy="4" r="4" fill="#F75388"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.9394 4C19.2804 4 20.5704 4.53 21.5194 5.481C22.4694 6.43 23.0004 7.71 23.0004 9.05V16.95C23.0004 19.74 20.7304 22 17.9394 22H8.06037C5.26937 22 3.00037 19.74 3.00037 16.95V9.05C3.00037 6.26 5.25937 4 8.06037 4H17.9394ZM19.5304 10.54L19.6104 10.46C19.8494 10.17 19.8494 9.75 19.5994 9.46C19.4604 9.311 19.2694 9.22 19.0704 9.2C18.8604 9.189 18.6604 9.26 18.5094 9.4L14.0004 13C13.4204 13.481 12.5894 13.481 12.0004 13L7.50037 9.4C7.18937 9.17 6.75937 9.2 6.50037 9.47C6.23037 9.74 6.20037 10.17 6.42937 10.47L6.56037 10.6L11.1104 14.15C11.6704 14.59 12.3494 14.83 13.0604 14.83C13.7694 14.83 14.4604 14.59 15.0194 14.15L19.5304 10.54Z" fill="#868AA5"/>
        </svg>
        <div class="dropdown">
          <div class="d-flex align-items-center" data-bs-toggle="dropdown" role="button">
            <img src="/images/avatar-image.png" class="rounded-circle" style="height: 40px; width: 40px" />
            <span style="color: #3B3F70;" class="ms-2">
              <%= current_user.name %>
            </span>
            <img src="/images/chevron-down.png" class="ms-2" />
          </div>
          <ul class="dropdown-menu">
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>