<div class="dashboard-background" style="min-height: 94vh;">
  <div class='container'>
    <%= render "shared/navigation_bar" %>
  	<div class="d-flex align-items-center justify-content-between" style="height: 72px;">
      <div class="d-flex align-items-center h-75">
       <div class="h-100 bg-success" style="width: 4px;"></div> 
       <div class="d-block mx-3">
         <div class="fw-bold">Projects</div>
         <div class="fw-light custom-text-color">Hi DeVisnext, welcome to ManageBug</div>
       </div>
       <form class="d-flex h-100" role='search'>
        <input class="form-control me-2 ms-2 rounded-2 border-0 h-100" type="search" placeholder="Search for projects here" style="background-color: #F1F1F1;"  />
       </form>
       <button class="btn btn-lg btn-primary fs-6 rounded-2 px-4 text-nowrap">+ Add New Bug</button>
       <div class="dropdown h-75 py-2 px-2 ms-2">
         <div role="button" data-bs-toggle="dropdown">
           Sort by
           <img src="/images/chevron-down.png" class="ms-2" />
         </div>
         <ul class="dropdown-menu">
           <li class="dropdown-item">This is my sorting dropdown</li>
         </ul>
       </div>
     </div>
     <div class="d-flex align-items-center justify-content-center">
       <div class="dropdown h-75 p-3 ms-2">
         <div role="button" data-bs-toggle="dropdown">
           My Project
           <img src="/images/chevron-down.png" class="ms-2" />
         </div>
         <ul class="dropdown-menu">
           <li class="dropdown-item">This is my projects dropdown</li>
         </ul>
       </div>
       <div class="p-2 bg-primary d-flex align-items-center justify-content-center rounded-2" style="height: 45px; width: 50px;">
         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M12.7102 0V4.94631C15.9088 5.44932 18.434 8.2159 18.434 11.5693C18.434 15.2581 15.4037 18.2762 11.7001 18.2762C8.16481 18.2762 5.30292 15.5935 4.96622 12.1562H0C0.336693 18.36 5.38709 23.3063 11.7001 23.3063C18.1814 23.3063 23.4002 18.1085 23.4002 11.6532C23.4002 5.53316 18.6865 0.58685 12.7102 0Z" fill="white"/>
          <path d="M11.3634 0H0V4.86247H11.3634V0Z" fill="white"/>
          <path d="M8.75402 6.12012H0V11.0664H8.75402V6.12012Z" fill="white"/>
        </svg>
       </div>
     </div>
    </div>

    <%# CARDS %>
    <div class="container my-5">
      <div class="row g-4">
        <div class="col-4">
          <div class='card border-0 bg-white rounded-2 shadow'>
            <div class="card-body p-4">
              <div class="p-2 d-inline-block rounded-2" style="background-color: #67CFCF;">
                <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
                  <path d="M26.0687 23.2557C26.0643 23.5941 25.9596 23.9236 25.7679 24.2024C25.5762 24.4813 25.3062 24.6971 24.9918 24.8225C24.6775 24.9479 24.3331 24.9773 24.0021 24.9069C23.6711 24.8366 23.3683 24.6696 23.1322 24.4272C22.8961 24.1848 22.7371 23.8779 22.6754 23.5451C22.6138 23.2124 22.6522 22.8688 22.7857 22.5579C22.9193 22.247 23.1421 21.9826 23.4259 21.7983C23.7097 21.614 24.0418 21.518 24.3802 21.5224C24.834 21.5284 25.2668 21.7143 25.5834 22.0394C25.9001 22.3644 26.0746 22.802 26.0687 23.2557ZM14.115 21.3881C13.7766 21.3836 13.4445 21.4796 13.1607 21.664C12.8769 21.8483 12.6541 22.1126 12.5205 22.4235C12.3869 22.7344 12.3485 23.078 12.4102 23.4107C12.4719 23.7435 12.6308 24.0505 12.867 24.2929C13.1031 24.5353 13.4058 24.7022 13.7368 24.7726C14.0679 24.8429 14.4123 24.8135 14.7266 24.6881C15.0409 24.5627 15.311 24.347 15.5027 24.0681C15.6944 23.7892 15.799 23.4597 15.8035 23.1213C15.8094 22.6676 15.6348 22.2301 15.3182 21.905C15.0015 21.58 14.5687 21.394 14.115 21.3881ZM35.1709 25.086L35.1262 28.5078C35.1182 29.1128 34.8703 29.6899 34.4369 30.1121C34.0035 30.5343 33.4201 30.767 32.8151 30.7591L5.44117 30.4007C4.83617 30.3928 4.25909 30.1449 3.83689 29.7115C3.41469 29.2781 3.18195 28.6947 3.18987 28.0897L3.23261 24.8248C3.25972 22.6263 3.73492 20.4564 4.62915 18.4479C5.52339 16.4393 6.81787 14.6342 8.43347 13.1429L4.90156 9.53171C4.72258 9.30772 4.63331 9.02516 4.65113 8.739C4.66894 8.45284 4.79255 8.18353 4.99793 7.98347C5.2033 7.7834 5.47575 7.66687 5.76228 7.65656C6.04881 7.64624 6.32893 7.74288 6.54816 7.92766L10.2204 11.7118C12.9244 9.84946 16.1386 8.86997 19.4216 8.90784C22.7046 8.94571 25.8954 9.99909 28.5556 11.9233L32.2968 8.26473C32.5208 8.08575 32.8033 7.99648 33.0895 8.01429C33.3757 8.0321 33.645 8.15572 33.845 8.36109C34.0451 8.56647 34.1616 8.83892 34.1719 9.12545C34.1823 9.41198 34.0856 9.6921 33.9008 9.91133L30.3045 13.4007L30.6283 13.7186C32.101 15.2178 33.2611 16.9948 34.0409 18.9462C34.8208 20.8977 35.2049 22.9848 35.1709 25.086ZM32.8898 25.0562C32.9195 23.2544 32.5906 21.4647 31.9222 19.7912C31.2537 18.1178 30.2591 16.594 28.9961 15.3086C28.6518 14.962 28.2896 14.6336 27.911 14.3247C27.9111 14.3209 27.9096 14.3173 27.907 14.3146C27.9043 14.3119 27.9007 14.3103 27.897 14.3103C25.5014 12.3227 22.4945 11.2209 19.382 11.19L19.3392 11.1895C11.811 11.1194 5.61325 17.2555 5.51377 24.8547L5.47103 28.1196L32.845 28.4779L32.8898 25.0562Z" fill="black"/>
                </svg>
              </div>
              <div class="mt-3 fw-bold">
                Android UI System
              </div>
              <div class="custom-text-color mt-2" style="font-size: 14px;">
                Redesign all the web pages with animation.
              </div>
              <div class="custom-text-color mt-2">
                Task Done: <span class="text-black">02/60</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="container py-2 d-flex bg-white justify-content-between align-items-center" style="min-height: 6vh;">
  <div class="page_info">
    <%= page_entries_info @users %>
  </div>
  <div class="d-flex">
    <div class="d-flex align-items-center me-3">
      <span class="me-2">
        Display
      </span>
      <div>
        <select class="form-select">
          <option>5</option>
          <option selected>10</option>
          <option>25</option>
        </select>
      </div>
    </div>
    <div class="digg_pagination">
      <%= will_paginate @users, :previous_label => "<", :next_label => ">" %>
    </div>
  </div>
</div>