.page-left-image {
  background-image: linear-gradient(180deg, rgba(49, 49, 49, 0.30) -4.74%, rgba(0, 0, 0, 0.55) 103.32%), asset-url("left-background-image.jpeg");
  background-size: cover;
  height: 100vh;
}

.custom-card {
  background-color: white;
  border: none;
  box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.06);
}

.custom-card:hover {
  border-color: 1px solid #007DFA;
  background-color: #F5F5F7;
  border-radius: 6px;
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
}

.arrow-div {
  display: none;
}

.arrow-div:hover {
  display: block;
}

.custom-text-color {
  color: #8692A6;
}

.rounded-class-filled {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: #007DFA;
}

.rounded-class {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 1px solid #007DFA;
}

.form-background-custom {
  background-color: #F5F5F7;
}

.input-custom-height {
  height: 64px
}

.dashboard-background {
  background-color: #F5F6F8;
}

#img-view {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: 2px dashed #bbb5ff;
  background: #f7f8ff;
}

#img-view img {
  width: 30px;
  margin-top: 25px;
}

.image-label {
  border-radius: 12px;
  border: 1.47px dashed #4C535F;
  background: #FAFBFC;
  width: 191.061px;
  height: 194px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-label span {
  color: #4C535F;
  text-align: center;
  font-family: Manrope;
  font-size: 17.636px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
}

.project-modal-image {
  width: 191.061px;
  height: 194px;
  border-radius: 12px;
}

.custom-bg-danger {
  background-color: #FDF2F2;
  color: #EC5962;
}

.custom-bg-success {
  background-color: rgba(0, 184, 148, 0.08);
  color: #00B894;
}

.custom-bg-info {
  background-color: #EEF3FF;
  color: #3069FE;
}

.custom-bg-danger:hover {
  background-color: #FDF2F2;
  color: #EC5962;
}

.custom-bg-success:hover {
  background-color: rgba(0, 184, 148, 0.08);
  color: #00B894;
}

.custom-bg-info:hover {
  background-color: #EEF3FF;
  color: #3069FE;
}

.empty-circle-danger {
  background-color: #EC5962;
}

.empty-circle-info {
  background-color: #3069FE;
}

.empty-circle-success {
  background-color: #00B894;
}

.th-bugs {
  color: rgba(58, 53, 65, 0.87);
  font-feature-settings: 'clig' off, 'liga' off;
  // font-family: Poppins;
  font-size: 12.362px;
  font-style: normal;
  font-weight: 600;
  line-height: 24.725px;
  /* 200% */
  letter-spacing: 0.175px;
  text-transform: uppercase;
  // border-right: 2px solid rgba(58, 53, 65, 0.12);
  // padding: 5px 0px 5px 5px;
}

/* Change color of calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0);
}

/* Change shape of icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: asset-url('calendar-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  margin-right: 10px;
  border: none;
}

#title-input::placeholder {
  color: #8D98AA;
  opacity: 0.5;
}