<div class="row g-0">
  <div>
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == "notice" ? "primary" : name == "alert" ? "danger" : name %> m-0" role="alert">
        <a href="#" class="close" data-bs-dismiss="alert">&#215;</a>
        <%= msg %>
      </div>
    <% end %>
  </div>
</div>
